In [1]:
4+5

9

In [2]:
4>7

False

In [3]:
5==5

True

In [6]:
x = 50.1
x

50.1

In [7]:
type(x)

float

In [8]:
s = "Iqra Uni"
type(s)

str

In [15]:
s[:6]

'Iqra U'

In [18]:
print(s + str(7))

Iqra Uni7

In [19]:
y = "5"
type(y)

str

In [20]:
t=int(y)
type(t)

int

In [27]:
num = int(input("Enter number : "))

if num%2==0:
    print("Even number")
else:
    print("Odd number")

Enter number : 78
Even number

In [24]:
type(num)

int

In [29]:
cnic = str(input("Enter the Cnic:"))

if len(cnic) == 15:
    if cnic[5] == '-' and cnic[13] == '-':
        print("the number entered is cnic number")
    else:
        print("the number is not the cnic")

Enter the Cnic:42201-3631316-1
the number entered is cnic number

In [ ]:
grade = 'A'
if grade == 'A':
    print ("Excellent")
elif grade == 'B':
    print("Good")

In [32]:
for x in range(1, 11):
    print (x)

1
2
3
4
5
6
7
8
9
10

In [33]:
# list

'''
ordered list
use indexes
allow duplicates
mutable - changable

tuple 
-ordered list
use indexes
allow duplicates 
immutable - not changable

sets
- unordered
-donot allow duplicates
- do not indexes
- mutable

dict
- use key value pair
- no duplicates 
- use keys as an index
-mutable
'''

l = ["apple" , 34, False, "orange"]
l

['apple', 34, False, 'orange']

In [34]:
type(l)

list

In [40]:
l[-1]
#l.append("banana")
#l.insert(4, "tree")
l.remove("tree")
l

['apple', 34, False, 'orange', 'banana', 'banana']

In [41]:
for x in l:
    print(x)

apple
34
False
orange
banana
banana

In [45]:
# tuple
t = (10, 30, 40 ,50, 60, 60)
type(t)
#t[2] = 500

for x in t:
    print(x)

10
30
40
50
60
60

In [49]:
#sets

s = {30,20,20, 40,30}
type(s)
s.add(100)
s.pop()
s

{20, 30, 100}

In [50]:
# dict 

d = { 'key' : 'value',
    1: "ali",
    2: "sara"}
d

{'key': 'value', 1: 'ali', 2: 'sara'}

In [51]:
d['key']

'value'

In [52]:
d[1]

'ali'

In [53]:
d.get(1)

'ali'

In [54]:
d.keys()

dict_keys(['key', 1, 2])

In [55]:
d.values()

dict_values(['value', 'ali', 'sara'])

In [56]:
d.items()

dict_items([('key', 'value'), (1, 'ali'), (2, 'sara')])

In [60]:
for k in d:
    print (d[k])

value
ali
sara

In [61]:
#2d
myd = {1 : { 'a' : 'ali' , 'b' :' sara'},
      2: {'c': 'ahmed', 'd': 'taha'}}
myd

{1: {'a': 'ali', 'b': ' sara'}, 2: {'c': 'ahmed', 'd': 'taha'}}

In [62]:
myd[1]['a']

'ali'

In [ ]:
# num = input("Please enter your cnic number : ")

# if len(num)==15: 
#     if num[5] == '-' and num[13] == '-':
#         print("Valid CNIC")
#     else:
#         print("Invalid entry")
# else:
#     print("Length must be equals to 15")